p {
    margin: 0;
}
.solution {
    margin: 50px 100px;
}
.matrix td {
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
}
.matrix {
    display: inline-table;
    vertical-align: middle;
    position: relative;
    margin: 3px 10px;
}

.matrix:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -8px;
    width: 15px;
    border-left: solid 2px black;
    border-radius: 100%;
}

.matrix:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -8px;
    width: 15px;
    border-right: solid 2px black;
    border-radius: 100%;
}
.matrix .matrix-border {
    border-bottom: solid 1px black;
}
